<div class="container text-center">
  <div class="row">
    <div class="col col-12 mt-3">
      <h2>Liga Española de Fútbol</h2>
    </div>
    <div class="col col-12">
      <img class="mb-4" src="./assets/images/800px-RFEF_logo.png" alt="" width="200" height="200">
    </div>
    <div class="col col-12">

        <h3 class="mb-3">
          Estadísticas del equipo {{_search.teamName}}
        </h3>

    </div>
  </div>
  <!-- end header -->

  <div class="row">
<div class="col-12 border my-3 border-dark px-0">
  <div class="col-12 season2930 bg-dark text-white py-2">
    <h5>TEMPORADA 1930 - 1931</h5>
  </div>

<div class="col-12 estadisticas">
    <p></p>
    <p>Partidos disputados: {{_search.season3031.gamesPlayed}}</p>
    <p>Partidos ganados: {{_search.season3031.gamesWon}} </p>
    <p>Partidos perdidos: {{_search.season3031.gamesLost}}</p>
    <p>Partidos empatados: {{_search.season3031.gamesTied}}</p>
    <p>Goles a favor: {{_search.season3031.goalsFor}}</p>
    <p>Goles en contra: {{_search.season3031.goalsAgainst}}</p>
</div>
</div>

<div class="col-12 border my-3 border-dark px-0">
  <div class="col-12 season2930 bg-dark text-white py-2">
    <h5>TEMPORADA 1929 - 1930</h5>
  </div>

<div class="col-12 estadisticas">
    <p></p>
    <p>Partidos disputados: {{_search.season2930.gamesPlayed}}</p>
    <p>Partidos ganados: {{_search.season2930.gamesWon}} </p>
    <p>Partidos perdidos: {{_search.season2930.gamesLost}}</p>
    <p>Partidos empatados: {{_search.season2930.gamesTied}}</p>
    <p>Goles a favor: {{_search.season2930.goalsFor}}</p>
    <p>Goles en contra: {{_search.season2930.goalsAgainst}}</p>
</div>
</div>



<div class="col-12 border my-3 border-dark px-0">
  <div class="col-12 season2930 bg-dark text-white py-2">
    <h5>TEMPORADA 1929 - 1930</h5>
  </div>

<div class="col-12 estadisticas">
    <p></p>
    <p>Partidos disputados: {{_search.season2829.gamesPlayed}}</p>
    <p>Partidos ganados: {{_search.season2829.gamesWon}} </p>
    <p>Partidos perdidos: {{_search.season2829.gamesLost}}</p>
    <p>Partidos empatados: {{_search.season2829.gamesTied}}</p>
    <p>Goles a favor: {{_search.season2829.goalsFor}}</p>
    <p>Goles en contra: {{_search.season2829.goalsAgainst}}</p>
</div>
</div>


  </div>






</div>
